@model Restless_Legs.Models.Posting

@{
    ViewData["Title"] = "Delete Posting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete this Posting?</h2>
<hr />
@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)
<hr />
@using (Html.BeginForm())

{
    <input type="submit" value="Delete" />
}
<hr />
@Html.ActionLink("Back to List", "Index", "Locations")