@model Restless_Legs.Models.Location

@{
    ViewData["Title"] = "Restless Legs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search the location</h2>

@using (Html.BeginForm())
{
    <p>@Html.LabelFor(model => model.Name)</p>
    <p>@Html.EditorFor(model => model.Name)</p>

    <input type="submit" value="Search" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>